@using _4._01_Hw.Data;

@model QuestionViewModel
<div b-k8y6yzo0ym class="container">
    <main b-k8y6yzo0ym role="main" class="pb-3">

        <div class="row" style="margin-top:100px;">
            <div class="col-md-10 offset-md-2 bg-light p-4 rounded shadow">
                <h2>@Model.Question.Title</h2>
                <hr />
                <p>@Model.Question.Text</p>
                <hr />
                <span>Asked by @Model.Question.User.Name</span>
                on
                <span>@Model.Question.Date.ToLongDateString()</span>
                <br />
                <span>Tags:</span>
                @foreach (QuestionTags qt in Model.Question.QuestionTags)
                {
                    <span class="badge bg-primary">@qt.Tag.Name</span>

                }
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-4">
                <h3>Answers:</h3>
            </div>
        </div>
        @foreach (Answer answer in Model.Question.Answers)
        {

            <div class="row">
                <div class="col-md-8 offset-md-2 card card-body bg-light">
                    <div>
                        @answer.Text
                        <br />
                        <span>Answered by @answer.User.Name</span>
                        <span>on</span>
                        <span>@answer.Date.ToLongDateString()</span>
                        <hr />
                    </div>
                </div>
            </div>



        }
        @if (Model.Question.Answers.Count == 0)
        {
            <div class="row">
                <div class="col-md-8 offset-md-2 card card-body bg-light">
                    <h3>No answers yet, be the first to submit one!</h3>
                </div>
            </div>
        }


        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-md-8 offset-md-2 card card-body bg-light mt-4">
                    <h2>Submit an answer</h2>
                    <form method="post" action="/home/addanswer">
                        <input type="hidden" name="questionid" value="@Model.Question.Id" />
                        <textarea class="form-control" placeholder="Type your answer here..." rows="10" name="text"></textarea>
                        <br />
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        }




    </main>
</div>